body {
	font-family: Arial, sans-serif;
	font-weight: 600;
	background-color: #eef7ff;
	padding: 10px;
}
.head {
	display: flex;
	align-items: space-between;
	justify-content: center;
	width: 100%;
	height: 140px;
}
.input1 {
	width: 260px;
	height: 30px;
	padding-left: 15px;
	border-radius: 5px;
	border: 1px solid #f3f3f3;
}
.search {
	margin-left: -54px;
	width: 54px;
	height: 33px;
	color: #f3f3f3;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.signature {
	display: none;
	justify-content: space-between;
	padding-left: 15px;
}
.signature p {
	width: 200px;
}
.signature .one {
	width: 100px;
}
.signature .six {
	width: 30px;
	margin-right: 20px;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
	height: 120px;
	width: 100%;
}
.wrapper p {
	width: 200px;
	min-height: 20px;
}
.track-name {
	cursor: pointer;
} 
.plus {
	margin-right: 20px;
	height: 30px;
	width: 30px;
	cursor: pointer;
}
.details {
	display: none;
	justify-content: space-around;
	font-weight: normal;
	font-size: 14px;
}
.first-column {
	margin-left: -100px;
}
h3 {
	color: rgb(72, 72, 74);
}
.note {
	height: 20px;
	width: 20px;
}